html, body {
    margin: 0;
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: repeat (10, 10%);
    grid-template-rows: repeat (10, 10%);
    border-color: gray;
    border-width: 1px;
}
.playerCards, .computerCards {
    display: grid;
    grid-column: 1 / 10;
    grid-row: 1 / 10;
}
.pCardOne { 
    display: grid;
    grid-area: 5 / 4 / 8 / 6;
}

.buttons {
    border-radius: 50%;
}